.my_nav_bar{
    text-decoration-color: floralwhite;
    background-color: black;
    font-family: 'Abril Fatface', cursive;
    position: sticky;
}
h3{
    color:white;
}
.nav1:hover{
    background-color: #200b75;
}
.nav2:hover{
    background-color: #200b75;
}
.nav2:hover{
    background-color: #200b75;
}
.nav3:hover{
    background-color: #200b75;
}
.nav4:hover{
    background-color: #200b75;
}
.nav5:hover{
    background-color: #200b75;
}
.nav6:hover{
    background-color: #200b75;
}
.nav7:hover{
    background-color: #200b75;
}
.myname{
    color:white;
    margin-bottom: 100px;
}

.container {
  
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(0%, 100%);
    color: white;
    font-size: 60px;
    font-family: 'Abril Fatface', cursive;
}
.centered2{
  position: absolute;
  top: 78%;
  left: 70%;
  transform: translate(0%, 100%);
    color: white;
    font-size: 32px;
    font-family: 'Abril Fatface', cursive;
}

.top-right {
  position: absolute;
  top: 27%;
    border-radius: 50%;
    left:70%;
}
.centered3{
  position: absolute;
  top: 78%;
  left: 66%;
  transform: translate(0%, 100%);
    color: white;
    font-size: 32px;
    font-family: 'Great Vibes', cursive;
}
fa-envelope{
    width: 50px;
    height:50px;
    margin-left: 30px;
}
.ab{
    font-family:'Fredoka One', cursive;
    border-radius: 30%;
    top:95%;
}
p{
    font-family: 'Fredoka One', cursive;
    font-size:20px;
    
    }

.centered4{
  position: absolute;
  top: 120%;
  left: 66%;
  transform: translate(0%, 100%);
    color: white;
    font-size: 32px;
    font-family: 'Abril Fatface', cursive;
}
.drawing{
    margin-left: 300px;
    margin-bottom:100px;
    width:400px;
    height:280px;
}
.p{
    
    color:azure;
    font-size:25px;
    font-family: 'Fredoka One', cursive;
}
.d_r{
    width:200px;
    height:200px;

}
#dance{
    font-size: 30px;
}
.dance{
    height:320px;
    width:500px;
}
.ambani{
    cursor:pointer;
}
.modal-title{
    color:black;
}
.img_modal{
    align-content: center;
    
}
.p_modal{
    color:black
}
.modal-content{
    margin-top: 100px;
}
.modal-body{
    text-align:center;
}
.centered5{
  position: absolute;
  top: 96%;
  left: 66%;
  transform: translate(0%, 100%);
    color: white;
    font-size: 32px;
    font-family: 'Abril Fatface', cursive;
}
body{
    background:linear-gradient(to right, #010b1a,#021b40,#010b1a);
}
u{
    color:white;
}
center{
    font-family: 'Great Vibes', cursive;
    color:aliceblue;
   
}

html{
    scroll-behavior:smooth;
}
.heading{
     font-size: 40px;
    font-family: 'Great Vibes', cursive;
    color:aliceblue;
    text-align:center;
}
.heading_s{
    font-size: 40px;
    font-family: 'Great Vibes', cursive;
    color:blue;
    text-align:center;
}
fa-instagram{
    width: 50px;
    height:50px;
    margin-left: 30px;
}
h2{
    font-size: 45px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}
#apps{
    display: flex;
    flex-direction: row;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.cardt{
    color:white;
    font-family:'Abril Fatface', cursive;
}
.cardp{
    color:white;
}
.card button:hover {
  opacity: 0.7;
}
.card img{
    height:180px;
}
/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}